<h3>Beacon <span ng-bind="beaconId"></span></h3>
<div class="divider"></div>

<div class="section">
    <h5>Beacon Route</h5>
    <div id="map" style="height: 400px; width: 400px;"></div>
</div>

<div class="section">
    <h5>Temperature</h5>
    <img id="tempGraph"></img>
</div>

<div class="section">
    <h5>Humidity</h5>
    <img id="humidGraph"></img>
</div>

<div class="section">
    <h5>Temperature</h5>
    <img id="tempGraph2"></img>
</div>

<div class="section">
    <h5>Temperature</h5>
    <img id="tempGraph3"></img>
</div>

<div class="section">
    <h5>Battery Level</h5>
    <img id="batteryGraph"></img>
</div>