<h3>Beacons</h3>

<div data-ng-repeat="beacon in beacons">
  <div class="row">
    <div class="col s6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Beacon <span data-ng-bind="beacon.id"></span></span>
          <div class="section">
            <div class="row">
              <div class="col s4">
                <i class="material-icons text-icon icon-pad">access_time</i> Activated
              </div>
              <div class="col s6">
                <span data-ng-bind="beacon.activation_datetime | momentFormat"></span>
              </div>
            </div>
            <div class="row">
              <div class="col s4">
                <i class="material-icons text-icon icon-pad">access_time</i> Processed
              </div>
              <div class="col s6">
                <span data-ng-bind="beacon.processed_datetime | momentFormat"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a ng-href="#!/beacons/{{beacon.id}}/">View Beacon</a>
        </div>
      </div>
    </div>
  </div>
</div>

